:root{
  --color: #00849b;
  --background: #070044;
  /* --footer-background: #050033; */
  --footer-background: #05002A;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html{
  font-size: 62.5%;
  font-family: 'Open Sans', sans-serif;
}

body {
  background-color: var(--background);
}

/* Header */
.Header-main{
  width: 100%;
  padding: 20px;
}
.Header-logo {
  max-width: 500px;
  margin: 0 auto;
}
.Header-logo img {
  width: 100%;
}

/* Main. The grid container */
.Main {
  display: grid;
  padding: 10px;
  grid-template-columns: minmax(auto, 1000px);
  justify-content: center;
}

/* Characters Home */
.Characters {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 320px));
  column-gap: 20px;
  row-gap: 30px;
  justify-content: center;
}

.Character-item {
  display: block;
  text-decoration: none;
  border-radius: 5px;
  animation-duration: 2s;
  animation-name: fade;
}

.Character-item a {
  display: inline-block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  border: 2px solid black;
  border-radius: 10px;
  color: black;
}

.Character-item img {
  width: 100%;
  border-radius: 5px 5px 0 0;
}

.Character-item h2 {
  height: 67px;
  font-size: 2rem;
  font-weight: 700;
  padding: 5px 10px;
  background-color: var(--color);
  border-radius: 0 0 5px 5px;
}


/* Characters Card info */
.Character-inner {
  grid-template-columns: 1fr 2fr;
  grid-gap: 1.5rem;
  grid-row-gap: 1.5em;
  display: grid;
}

.Character-card {
  text-decoration: none;
  box-shadow: 8px 14px 38px rgba(39,44,49,.06), 1px 3px 8px rgba(39,44,49,.03);
  border-radius: 5px;
  margin: 0 0 20px 0;
  display: block;
  animation-duration: 2s;
  animation-name: fade;
}

.Character-card img {
  width: 100%;
  height: auto;
  border-radius: 5px 5px 0 0;
}

.Character-card h2 {
  font-size: 18px;
  font-weight: 400;
  text-align: center;
}

.Character-card h3 {
  font-size: 18px;
  font-weight: 400;
  text-align: left;
  margin: 20px;
}

/* Footer */
.Footer {
  width: 100%;
  padding: 20px 10px;
  background-color: var(--footer-background);
}
.Footer-contact {
  display: grid;
  grid-template-columns: 200px;
  grid-template-rows: repeat(2, 40px);
  justify-content: center;
}
.contact-item {
  text-decoration: none;
  color: rgb(180, 180, 180);
  font-size: 2rem;
}
.contact-item span:hover {
  text-decoration: underline;
}
.contact-item span {
  margin-left: 15px;
}

/* Pages button */
.Pages {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 70px;
  padding: 10px;
}
.Pages__button {
  width: 50px;
  height: 50px;
  text-decoration: none;
  color: var(--color);
  font-size: 4rem;
}
.Pages__button i {
  border: 2px solid black;
  border-radius: 50%;
  background-color: black;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.Main-loading {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


@media (min-width: 1020px) {
  .Characters {
    grid-template-columns: repeat(auto-fill, 230px);
    grid-template-rows: repeat(5, 300px);
  }
}